<div id="container">

    <header id="header">
        <div class="nav-container">

            <div class="nav-left">
                <div class="img">
                    <img src="assets/images/logo-dark.svg" alt="logo">
                </div>
            </div>

            <div class="nav-mid">
                <div class="nav-link">
                    <a 
                    href="/#main-top"
                    type="button"
                    class="link-btn"
                    >
                    Home
                    </a>
                </div>
                <div class="nav-link">
                    <a
                    href="/about/#about-top"
                    type="button"
                    class="link-btn"
                    >
                    About
                </a>
                </div>
                <div class="nav-link">
                    <a
                    href="/contact/#contact-top"
                    type="button"
                    class="link-btn"
                    >
                    Contact
                    </a>
                </div>
                <div class="nav-link">
                    <a
                    href="/blog/#blog-top"
                    type="button"
                    class="link-btn"
                    >
                    Blog
                </a>
                </div>
                <div class="nav-link">
                    <a
                    href="/careers/#career-hero"
                    type="button"
                    class="link-btn"
                    >
                    Careers
                    </a>
                </div>
            </div>

            <div class="nav-right">
                <a 
                href="/contact/#form"
                type="button"
                class="btn"
                >
                    Request invite
                </a>
                <button class="mobile-menu">
                    <img src="/assets/images/icon-hamburger.svg" alt="mobile-menu">
                </button>
            </div>
        </div>
    </header>

    <main id="main">

        <div class="contact" id="contact-top">
            <div class="contact-container">
                <h1>Contact Us</h1>
                <h3>Feel interested in our Bank? Contact us now!!!</h3>
                <a href="/contact/#form">&#x21E9;</a>
            </div>
        </div>

        <div class="option">

            <div class="option-text">
                <h1>Choose your contact method!</h1>
            </div>

            <div class="card-container">

                <div class="card option-1">
                    <h1>📧 Email</h1>
                    <p>support@digitplbank.com</p>
                </div>
    
                <div class="card option-2">
                    <h1>📞 Phone</h1>
                    <p>+84 xxx xxx xxx</p>
                </div>
    
                <div class="card option-3">
                    <h1>💬 Live Chat</h1>
                    <p>Available 24/7</p>
                </div>
    
                <div class="card option-4">
                    <h1>📍 Office</h1>
                    <p>Hanoi, Vietnam</p>
                </div>

            </div>

            <div class="option-bottom">
                <h1>Or</h1>
            </div>

        </div>

        <div id="form" class="form">

            <div class="form-text">
                <h1>Contact us through this form!!</h1>
            </div>
            
            <form class="form-container" method="post">
                <label for="fname">Name</label><br>
                <input id="fname" name="name" type="text" placeholder="Enter your Name"><br>

                <label for="femail">Email</label><br>
                <input id="femail" name="email" type="email" placeholder="Enter your Email"><br>

                <label for="fmessage">Message</label><br>
                <textarea id="fmessage" name="message" placeholder="Send Message"></textarea><br>

                <div class="submit-btn">
                    <input type="submit" value="Submit">
                </div>
            </form>

        </div>

        <section class="map">
            <h2>Our Office</h2>
            <iframe
                src="https://maps.google.com/maps?q=hanoi&t=&z=13&ie=UTF8&iwloc=&output=embed"
                width="100%"
                height="300"
            ></iframe>
        </section>

        <div class="faq">

            <div class="faq-text">
                Faq
            </div>

            <div class="faq-container">
                <h2>How fast is the support?</h2>
                <p>Within 24 hours.</p>
            </div>

            <div class="faq-container">
                <h2>How to open a bank account online?</h2>
                <p>You can register straight from the website.</p>
            </div>

            <div class="faq-container">
                <h2>What are the banking hours?</h2>
                <p>hile branches have specific hours, online and mobile banking are available 24/7.</p>
            </div>

        </div>

    </main>

    <footer id="footer">

        <div class="footer-left">

            <div class="left">
                <div class="top-img">
                    <img src="/assets/images/logo-light.svg" alt="logo">
                </div>
                <div class="bottom-img">
                    <div class="social-icon">
                        <img src="/assets/images/icon-facebook.svg" alt="facebook">
                    </div>
                    <div class="social-icon">
                        <img src="/assets/images/icon-youtube.svg" alt="youtube">
                    </div>
                    <div class="social-icon">
                        <img src="/assets/images/icon-twitter.svg" alt="twitter">
                    </div>
                    <div class="social-icon">
                        <img src="/assets/images/icon-pinterest.svg" alt="pinterest">
                    </div>
                    <div class="social-icon">
                        <img src="/assets/images/icon-instagram.svg" alt="instagram">
                    </div>
                </div>
            </div>

            <div class="mid">
                <div 
                type="button"
                class="btn"
                    >
                    <a href="/about/#about-top">Abous Us</a>
                </div>
                <div 
                type="button"
                class="btn"
                    >
                    <a href="/contact/#contact-top">Contact</a>
                </div>
                <div 
                type="button"
                class="btn"
                    >
                    <a href="/blog/#blog-top">Blog</a>
                </div>
            </div>

            <div class="right">
                <div 
                type="button"
                class="btn"
                    >
                    <a href="/careers/#career-hero">Careers</a>
                </div>
                <div class="btn">
                    <a>Support</a>
                </div>
                <div class="btn">
                    <a>Privacy and Policy</a>
                </div>
            </div>

        </div>

        <div class="footer-right">
            
            <div class="btn">
                <a
                href="/contact/#form"
                type="button"
                    >
                    Request invite
                </a>
            </div>

            <div class="trademark">
                <h4 class="copyright">
                    ⓒ Digitalbank. All Rights Reserved
                </h4>
            </div>
        </div>

    </footer>

</div>
