<div id="container">

    <header id="header">
        <div class="nav-container">

            <div class="nav-left">
                <div class="img">
                    <img src="assets/images/logo-dark.svg" alt="logo">
                </div>
            </div>

            <div class="nav-mid">
                <div class="nav-link">
                    <button 
                    routerLink="/"
                    type="button"
                    class="link-btn"
                    >
                    Home
                    </button>
                </div>
                <div class="nav-link">
                    <button
                    routerLink="/about"
                    type="button"
                    class="link-btn"
                    >
                    About
                </button>
                </div>
                <div class="nav-link">
                    <button
                    routerLink="/contact"
                    type="button"
                    class="link-btn"
                    >
                    Contact
                    </button>
                </div>
                <div class="nav-link">
                    <button
                    routerLink="/blog"
                    type="button"
                    class="link-btn"
                    >
                    Blog
                </button>
                </div>
                <div class="nav-link">
                    <button
                    routerLink="/careers"
                    type="button"
                    class="link-btn"
                    >
                    Careers
                    </button>
                </div>
            </div>

            <div class="nav-right">
                <button class="btn">
                    Request invite
                </button>
                <button class="mobile-menu">
                    <img src="/assets/images/icon-hamburger.svg" alt="mobile-menu">
                </button>
            </div>
        </div>
    </header>

    <main id="main">

        <div class="about">

            <div class="about-left">
                <img src="/assets/images/image-mockups.png" alt="mockup">
            </div>

            <div class="about-right">
                <h1>About Digitalbank</h1>
                <p>
                    We’re building the future of simple, secure digital banking.
                </p>
            </div>

        </div>

        <div class="story">

            <div class="story-left">
                <h1>Our Story</h1>
                <p>
                    Founded in 2026, Digitalbank was created to simplify banking for everyone.
                    We believe managing money should be fast, transparent, and stress-free.
                </p>
            </div>

            <div class="story-right">
                <img src="/assets/images/office.jpg" alt="office">
            </div>

        </div>

        <div class="work">
            
            <h1>What we do</h1>

            <div class="work-container">
                
                <div class="work-content">
                    <div class="img">
                        <img src="/assets/images/icon-online.svg" alt="online">
                    </div>
                    <h4>Online Banking</h4>
                    <div class="text">
                        <p>
                            Our modern web and mobile applications allow
                            you to keep track of your finances wherever
                            you are in the world.
                        </p>
                    </div>
                </div>

                <div class="work-content">
                    <div class="img">
                        <img src="/assets/images/icon-budgeting.svg" alt="budget">
                    </div>
                    <h4>Simple Budgeting</h4>
                    <div class="text">
                        <p>
                            See exactly where your money goes each month.
                            Receive notifications when you're close to
                            hitting your limits.
                        </p>
                    </div>
                </div>

                <div class="work-content">
                    <div class="img">
                        <img src="/assets/images/icon-onboarding.svg" alt="onboard">
                    </div>
                    <h4>Fast Onboarding</h4>
                    <div class="text">
                        <p>
                            We don't do branches. Open your account in
                            minutes online and start taking control of your
                            finances right away.
                        </p>
                    </div>
                </div>

                <div class="work-content">
                    <div class="img">
                        <img src="/assets/images/icon-api.svg" alt="api">
                    </div>
                    <h4>Open API</h4>
                    <div class="text">
                        <p>
                            Manage your savings, investments, pension and much more
                            from one account. Tracking your money has never been easier.
                        </p>
                    </div>
                </div>

            </div>
            
        </div>

        <div class="stats">

            <div class="stat-top">

                <div class="user">
                    <h1>10M+ Users</h1>
                    <h4>Number of Users</h4>
                </div>
    
                <div class="country">
                    <h1>50+ Countries</h1>
                    <h4>World Wide</h4>
                </div>
    
                <div class="time">
                    <h1>99.9% Uptime</h1>
                    <h4>Uptime</h4>
                </div>
    
                <div class="support">
                    <h1>24/7 Support</h1>
                    <h4>Services</h4>
                </div>

            </div>

            <div class="stat-bottom">
                <h3>
                    We aren't just building a bank; we’re architecting the 
                    next generation of financial freedom. By stripping away 
                    the friction of traditional legacy systems, we’ve created 
                    a seamless digital ecosystem where simplicity meets absolute 
                    security. Our mission is to empower you with intuitive tools 
                    that make managing your wealth as effortless as sending a text, 
                    backed by military-grade encryption that keeps your future safe.
                </h3>
            </div>

        </div>


        <div class="team">

            <div class="team-info">
                <img src="/assets/images/Founder.jpg" alt="Founder">
                <h1>Founder</h1>
                <h2>Steve</h2>
            </div>

            <div class="team-info">
                <img src="/assets/images/Manager.jpg" alt="Founder">
                <h1>Founder</h1>
                <h2>Steve</h2>
            </div>

            <div class="team-info">
                <img src="/assets/images/Team-leader.jpg" alt="Founder">
                <h1>Founder</h1>
                <h2>Steve</h2>
            </div>

            <div class="team-info">
                <img src="/assets/images/Assistant.jpg" alt="Founder">
                <h1>Founder</h1>
                <h2>Steve</h2>
            </div>
        </div>

    </main>

    <footer id="footer">

        <div class="footer-left">

            <div class="left">
                <div class="top-img">
                    <img src="/assets/images/logo-light.svg" alt="logo">
                </div>
                <div class="bottom-img">
                    <div class="social-icon">
                        <img src="/assets/images/icon-facebook.svg" alt="facebook">
                    </div>
                    <div class="social-icon">
                        <img src="/assets/images/icon-youtube.svg" alt="facebook">
                    </div>
                    <div class="social-icon">
                        <img src="/assets/images/icon-twitter.svg" alt="facebook">
                    </div>
                    <div class="social-icon">
                        <img src="/assets/images/icon-pinterest.svg" alt="facebook">
                    </div>
                    <div class="social-icon">
                        <img src="/assets/images/icon-instagram.svg" alt="facebook">
                    </div>
                </div>
            </div>

            <div class="mid">
                <div class="btn">
                    <button>Abous Us</button>
                </div>
                <div class="btn">
                    <button>Contact</button>
                </div>
                <div class="btn">
                    <button>Blog</button>
                </div>
            </div>

            <div class="right">
                <div class="btn">
                    <button>Careers</button>
                </div>
                <div class="btn">
                    <button>Support</button>
                </div>
                <div class="btn">
                    <button>Privacy and Policy</button>
                </div>
            </div>

        </div>

        <div class="footer-right">
            
            <div class="btn">
                <button>
                    Request invite
                </button>
            </div>

            <div class="trademark">
                <h4 class="copyright">
                    ⓒ Digitalbank. All Rights Reserved
                </h4>
            </div>
        </div>

    </footer>

</div>
