* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#container {
    min-height: 100vh;
    width: 100vw;
}

/* Header section*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    padding: 0 32px;
    background-color: white;
    display: flex;
    align-items: center;
    margin: 0;
    z-index: 1002;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.nav-mid {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nav-mid .nav-link {
    height: 40px;
    margin: 0 20px;
}

.nav-link a {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    height: 100%;
    text-decoration: none;
    color: hsl(233, 8%, 62%);
    padding-bottom: 4px;
    border: none;
}

.nav-link a::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: hsl(136, 64%, 51%);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 200ms ease;
}

.nav-link a:hover {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.nav-link a:hover::after,
.nav-link a.active::after {
    transform: scaleX(1);
}

.nav-right .btn {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    border: none;
    background-image: linear-gradient(200deg, hsl(136, 64%, 51%), hsl(192, 69%, 51%));
    color: white;
    border-radius: 30px;
    cursor: pointer;
    transition-duration: 0.4s; 
}

.nav-right .btn:hover {
    color: black;
}

.nav-right .mobile-menu {
    display: none;
    cursor: pointer;
    border: none;
}


/* Main section */
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

.about-left {
    width: 60%;
    background-image: url(/assets/images/bg-intro-desktop.svg);
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: center;
}

.about-right {
    width: 40%;
}

.about-right h1 {
    font-size: 50px;
    font-weight: 100;
    padding-bottom: 40px;
    color: black;
}

.about-right p {
    font-size: 28px;
    font-weight: 100;
    line-height: 40px;
}

.story {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 30px 0;
}

.story-left {
    width: 50%;
    padding: 0 40px;
}

.story-left h1 {
    font-size: 50px;
    font-weight: 100;
    padding-bottom: 40px;
    text-align: center;
}

.story-left p {
    font-size: 28px;
    font-weight: 100;
    line-height: 44px;
    text-align: center;
}

.story-right {
    width: 50%;
    padding: 0 40px;
}

.story-right img {
    width: 100%;
    height: 400px;
    background-position: center;
    border-radius: 20px;
}

.work {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.work h1 {
    font-size: 40px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}

.work-container {
    display: flex;
    margin: 40px 0;
}

.work-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.work-content .img {
    padding-bottom: 20px;
}

.work-content h4 {
    padding-bottom: 20px;
}

.work-content .text {
    text-align: center;
    padding: 0 20px;
}

.stats {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 200px 0;
}

.stat-top {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-bottom: 60px;
}

.stat-top h1 {
    font-size: 40px;
    padding-bottom: 20px;
}

.stat-top h4 {
    text-align: center;
}

.stat-bottom {
    width: 60%;
    text-align: center;
    background-image: linear-gradient(200deg, hsl(136, 64%, 51%), hsl(192, 69%, 51%));
    padding: 0 20px 30px 20px;
    border-radius: 20px;
}

.stat-bottom h3 {
    font-weight: bold;
    line-height: 40px;
    padding-top: 40px;
}

.team {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
}

.team-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.team-info img {
    width: 200px;
    height: 180px;
    border-radius: 50%;
}

.team-info h1 {
    font-size: 40px;
    font-weight: 100;
    padding: 20px 0;
}

.team-info h2 {
    font-size: 30px;
    font-weight: 100;
    padding-bottom: 40px;
}

.join {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 200px 0;
}

.join h1 {
    text-transform: uppercase;
    font-weight: 100;
    padding-bottom: 60px;
}

.join h2 {
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 40px;
}

.join a{
    font-size: 16px;
    font-weight: 100;
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    color: white;
    background-image: linear-gradient(200deg, hsl(136, 64%, 51%), hsl(192, 69%, 51%));
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.4s; 
}

.join a:hover {
    color: black;
}


/* Footer */
#footer {
    width: 100%;
    height: 200px;
    background-color: hsl(233, 26%, 24%);
    display: flex;
    flex-direction: row;
}

.footer-left {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 60px;
}

.footer-left .left {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.left .top-img {
    padding-bottom: 40px;
}

.left .bottom-img {
    display: flex;
    gap: 20px;
}

.footer-left .mid {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.mid .btn {
    padding-bottom: 20px;
}

.mid .btn a {
    text-decoration: none;
    font-size: 14px;
    background-color: transparent;
    color: white;
}

.mid .btn a:hover {
    cursor: pointer;
    color: rgb(7, 139, 7);
}

.footer-left .right {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.right .btn {
    padding-bottom: 20px;

}

.right .btn a {
    text-decoration: none;
    font-size: 14px;
    background-color: transparent;
    color: white;
}

.right .btn a:hover {
    cursor: pointer;
    color: rgb(7, 139, 7);
}

.bottom-img .social-icon {
    cursor: pointer;
}

.footer-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-right .btn {
    padding-bottom: 30px;
    padding-left: 100px;
}

.footer-right .btn a {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    border: none;
    background-image: linear-gradient(200deg, hsl(136, 64%, 51%), hsl(192, 69%, 51%));
    color: white;
    border-radius: 30px;
    cursor: pointer;
    transition-duration: 0.4s; 
}

.footer-right .btn a:hover {
    color: black;
}

.footer-right .trademark {
    color: white;
}

.trademark .copyright {
    font-size: 16px;
    font-weight: 100;
}


/* Responsive CSS */
@media only screen and (max-width: 768px) {
    .nav-mid {
        display: none;
    }

    .nav-right .btn {
        display: none;
    }

    .nav-right .mobile-menu {
        display: block;
    }

    .about {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .about-left {
        width: 100%;
    }

    .about-right {
        width: 100%;
    }

    .story {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        margin: 30px 0;
    }

    .story-left {
        width: 100%;
    }
    .story-right {
        width: 100%;
    }

    .story-right img {
        padding: 40px 0;
    }

    .work-container {
        display: block;
    }

    .work-container .text {
        width: 50%;
        padding-bottom: 30px;
    }

    .stat-top {
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .stat-top .user,
    .stat-top .country,
    .stat-top .time,
    .stat-top .support {
        padding-bottom: 26px;
    }

    .stat-bottom {
        width: 80%;
    }

    .team {
        display: block;
    }


    #footer {
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
    }

    .footer-left .left {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .left .top-img {
        padding-bottom: 40px;
    }

    .left .bottom-img {
        display: flex;
        gap: 20px;
        padding-bottom: 20px;
    }

    .footer-left .mid {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .mid .btn {
        padding-bottom: 20px;
    }

    .footer-left .right {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .right .btn {
        padding-bottom: 20px;
    }

    .footer-right {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .footer-right .btn {
        padding-left: 0;
        padding-bottom: 30px;
    }
}