<div id="container">

    <header id="header">
        <div class="nav-container">

            <div class="nav-left">
                <div class="img">
                    <img src="assets/images/logo-dark.svg" alt="logo">
                </div>
            </div>

            <div class="nav-mid">
                <div class="nav-link">
                    <button 
                    routerLink="/"
                    type="button"
                    class="link-btn"
                    >
                    Home
                    </button>
                </div>
                <div class="nav-link">
                    <button
                    routerLink="/about"
                    type="button"
                    class="link-btn"
                    >
                    About
                </button>
                </div>
                <div class="nav-link">
                    <button
                    routerLink="/contact"
                    type="button"
                    class="link-btn"
                    >
                    Contact
                    </button>
                </div>
                <div class="nav-link">
                    <button
                    routerLink="/blog"
                    type="button"
                    class="link-btn"
                    >
                    Blog
                </button>
                </div>
                <div class="nav-link">
                    <button
                    routerLink="/careers"
                    type="button"
                    class="link-btn"
                    >
                    Careers
                    </button>
                </div>
            </div>

            <div class="nav-right">
                <button class="btn">
                    Request invite
                </button>
                <button class="mobile-menu">
                    <img src="/assets/images/icon-hamburger.svg" alt="mobile-menu">
                </button>
            </div>
        </div>
    </header>

    <main id="main">

        <div class="main-top">

            <div class="main-topleft">
                <img src="/assets/images/image-mockups.png" alt="mockup">
            </div>

            <div class="main-topright">
                <h1>About Digitalbank</h1>
                <p>
                    <!--We aren't just building a bank; we’re architecting the 
                    next generation of financial freedom. By stripping away 
                    the friction of traditional legacy systems, we’ve created 
                    a seamless digital ecosystem where simplicity meets absolute 
                    security. Our mission is to empower you with intuitive tools 
                    that make managing your wealth as effortless as sending a text, 
                    backed by military-grade encryption that keeps your future safe.
                -->
                    We’re building the future of simple, secure digital banking.
                </p>
            </div>

        </div>

    </main>

    <footer id="footer">

        <div class="footer-left">

            <div class="left">
                <div class="top-img">
                    <img src="/assets/images/logo-light.svg" alt="logo">
                </div>
                <div class="bottom-img">
                    <div class="social-icon">
                        <img src="/assets/images/icon-facebook.svg" alt="facebook">
                    </div>
                    <div class="social-icon">
                        <img src="/assets/images/icon-youtube.svg" alt="facebook">
                    </div>
                    <div class="social-icon">
                        <img src="/assets/images/icon-twitter.svg" alt="facebook">
                    </div>
                    <div class="social-icon">
                        <img src="/assets/images/icon-pinterest.svg" alt="facebook">
                    </div>
                    <div class="social-icon">
                        <img src="/assets/images/icon-instagram.svg" alt="facebook">
                    </div>
                </div>
            </div>

            <div class="mid">
                <div class="btn">
                    <button>Abous Us</button>
                </div>
                <div class="btn">
                    <button>Contact</button>
                </div>
                <div class="btn">
                    <button>Blog</button>
                </div>
            </div>

            <div class="right">
                <div class="btn">
                    <button>Careers</button>
                </div>
                <div class="btn">
                    <button>Support</button>
                </div>
                <div class="btn">
                    <button>Privacy and Policy</button>
                </div>
            </div>

        </div>

        <div class="footer-right">
            
            <div class="btn">
                <button>
                    Request invite
                </button>
            </div>

            <div class="trademark">
                <h4 class="copyright">
                    ⓒ Digitalbank. All Rights Reserved
                </h4>
            </div>
        </div>

    </footer>

</div>
