<div id="container">

    <header id="header">
        <div class="nav-container">

            <div class="nav-left">
                <div class="img">
                    <img src="assets/images/logo-dark.svg" alt="logo">
                </div>
            </div>

            <div class="nav-mid">
                <div class="nav-link">
                    <button 
                    routerLink="/"
                    type="button"
                    class="link-btn"
                    >
                    Home
                    </button>
                </div>
                <div class="nav-link">
                    <button
                    routerLink="/about"
                    type="button"
                    class="link-btn"
                    >
                    About
                </button>
                </div>
                <div class="nav-link">
                    <button
                    routerLink="/contact"
                    type="button"
                    class="link-btn"
                    >
                    Contact
                    </button>
                </div>
                <div class="nav-link">
                    <button
                    routerLink="/blog"
                    type="button"
                    class="link-btn"
                    >
                    Blog
                </button>
                </div>
                <div class="nav-link">
                    <button
                    routerLink="/careers"
                    type="button"
                    class="link-btn"
                    >
                    Careers
                    </button>
                </div>
            </div>

            <div class="nav-right">
                <button
                routerLink="/contact"
                type="button"
                class="btn"
                >
                    Request invite
                </button>
                <button class="mobile-menu">
                    <img src="/assets/images/icon-hamburger.svg" alt="mobile-menu">
                </button>
            </div>
        </div>
    </header>

    <main id="main">

        <div class="hero">

            <h1>Join Our Team!!!</h1>
            <p>Help us build the future of digital banking</p>
            <div class="bottom-img">
                <div class="img">
                    <img src="/assets/images/office.jpg" alt="office">
                </div>
                <div class="img">
                    <img src="/assets/images/team.jpg" alt="team">
                </div>
                <div class="img">
                    <img src="/assets/images/bank.jpg" alt="bank">
                </div>
            </div>

        </div>

        <div class="culture">

            <h1>Our Work Culture</h1>
            <div class="culture-img">
                <img src="/assets/images/Founder.jpg" alt="Founder">
                <h2>Founder</h2>
                <h1>Carter Steve</h1>
            </div>
            <h3>
                At DigitalBank, we value innovation, teamwork, 
                and growth.We believe in building products 
                that make life easier.
            </h3>

        </div>

        <div class="benefits">

            <h1>The benefits of working with us</h1>

            <div class="card-container">
                <div class="benefit-card">
                    <h1>💻 Remote Work</h1>
                </div>
                <div class="benefit-card">
                    <h1>👋 Friendly Enviroment</h1>
                </div>
                <div class="benefit-card">
                    <h1>📚 Learning Budget</h1>
                </div>
                <div class="benefit-card">
                    <h1>🏖 Paid Leave</h1>
                </div>
            </div>

        </div>

        <div class="jobs">

            <h1>Position we are hired</h1>

            <div class="job-container">
            
                <div class="job-card">
                    <h1>Frontend Developer (Angular)</h1>
                    <p>6 Months Experience</p>
                    <h2>Remote | Full-time</h2>
                </div>

                <div class="job-card">
                    <h1>Bank Teller</h1>
                    <p>1 Year Experience</p>
                    <h2>Remote | Full-time</h2>
                </div>

                <div class="job-card">
                    <h1>Branch Manager</h1>
                    <p>2 Years Experience</p>
                    <h2>Remote | Full-time</h2>
                </div>

                <div class="job-card">
                    <h1>Investment Banker</h1>
                    <p>2+ Years Experience</p>
                    <h2>Remote | Full-time</h2>
                </div>

            </div>

        </div>

        <div class="process">
            <div class="process-top">
                <h1>Review Application Process</h1>
            </div>
            
            <div class="process-bottom">

                <div class="send">
                    <p>Send CV</p>
                    <div class="number">
                        <div>
                            1
                        </div>
                    </div>
                </div>
                
                <hr class="line">
    
                <div class="review">
                    <p>Review CV</p>
                    <div class="number">
                        <div>
                            2
                        </div>
                    </div>
                </div>
    
                <hr class="line">
    
                <div class="interview">
                    <p>Interview</p>
                    <div class="number">
                        <div>
                            3
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="contact">
            <h1>Didn’t find your role?</h1>
            <p>Send us your resume anyway!</p>
            <button
            routerLink="/contact"
            type="button"
                >
                Contact Hr!
            </button>
        </div>

    </main>

    <footer id="footer">

        <div class="footer-left">

            <div class="left">
                <div class="top-img">
                    <img src="/assets/images/logo-light.svg" alt="logo">
                </div>
                <div class="bottom-img">
                    <div class="social-icon">
                        <img src="/assets/images/icon-facebook.svg" alt="facebook">
                    </div>
                    <div class="social-icon">
                        <img src="/assets/images/icon-youtube.svg" alt="youtube">
                    </div>
                    <div class="social-icon">
                        <img src="/assets/images/icon-twitter.svg" alt="twitter">
                    </div>
                    <div class="social-icon">
                        <img src="/assets/images/icon-pinterest.svg" alt="pinterest">
                    </div>
                    <div class="social-icon">
                        <img src="/assets/images/icon-instagram.svg" alt="instagram">
                    </div>
                </div>
            </div>

            <div class="mid">
                <div 
                routerLink="/about"
                type="button"
                class="btn"
                    >
                    <button>Abous Us</button>
                </div>
                <div 
                routerLink="/contact"
                type="button"
                class="btn"
                    >
                    <button>Contact</button>
                </div>
                <div 
                routerLink="/blog"
                type="button"
                class="btn"
                    >
                    <button>Blog</button>
                </div>
            </div>

            <div class="right">
                <div 
                routerLink="/careers"
                type="button"
                class="btn"
                    >
                    <button>Careers</button>
                </div>
                <div class="btn">
                    <button>Support</button>
                </div>
                <div class="btn">
                    <button>Privacy and Policy</button>
                </div>
            </div>

        </div>

        <div class="footer-right">
            
            <div class="btn">
                <button
                routerLink="/contact"
                type="button"
                >
                    Request invite
                </button>
            </div>

            <div class="trademark">
                <h4 class="copyright">
                    ⓒ Digitalbank. All Rights Reserved
                </h4>
            </div>
        </div>

    </footer>

</div>
