<div id="container">

    <header id="header">
        <div class="nav-container">

            <div class="nav-right">
                <div class="img">
                    <img src="assets/images/logo-dark.svg" alt="logo">
                </div>
            </div>

            <div class="nav-mid">
                <div class="nav-link">
                    <a href="/">Home</a>
                </div>
                <div class="nav-link">
                    <a href="/">About</a>
                </div>
                <div class="nav-link">
                    <a href="/">Contact</a>
                </div>
                <div class="nav-link">
                    <a href="/">Blog</a>
                </div>
                <div class="nav-link">
                    <a href="/">Careers</a>
                </div>
            </div>

            <div class="nav-left">
                <button class="btn">
                    Request invite
                </button>
            </div>
        </div>
    </header>

    <main id="main">

        <div class="main-top">
            <div class="main-topleft">
                <h1>Next generation digital banking</h1>
                <p>
                    Take your financial life online. Your Digitalbank
                    account will be one stop shop for spending, saving
                    budgeting, investing and much more
                </p>
                <button class="btn left-btn">Request invite</button>
            </div>
    
            <div class="main-topright">
                <img src="assets/images/image-mockups.png" alt="4 steps">
            </div>
        </div>

        <div class="main-middle">
            <h1>Why choose Digitalbank?</h1>

            <p></p>

            <div class="mid-container">
                <div class="bank-feature">
                    <div class="img">
                        <img src="/assets/images/icon-online.svg" alt="online">
                    </div>
                    <h4>Online Banking</h4>
                    <p></p>
                </div>
            </div>
        </div>

    </main>

    <footer id="footer">
        
    </footer>

</div>
