<div id="container">

    <header id="header">
        <div class="nav-container">

            <div class="nav-right">
                <div class="img">
                    <img src="assets/images/logo-light.svg" alt="logo">
                </div>
            </div>

            <div class="nav-left">
                <button class="btn">
                    <p>Request invate</p>
                </button>
            </div>
        </div>
    </header>

    <main id="main">

    </main>

    <footer id="footer">
        
    </footer>

</div>
