<div id="container">

    <header id="header">
        <div class="nav-container">

            <div class="nav-right">
                <div class="img">
                    <img src="assets/images/logo-dark.svg" alt="logo">
                </div>
            </div>

            <div class="nav-left">
                <button class="btn">
                    <p>Request invite</p>
                </button>
            </div>
        </div>
    </header>

    <main id="main">

        <div class="main-left">
            <h1 class="introduction">Next generation digital banking</h1>
            <p class="introduction-text">
                Take your financial life online. Your Digitalbank
                account will be one stop shop for spending, saving
                budgeting, investing and much more
            </p>
            <button class="btn left-btn">Request invite</button>
        </div>

        <div class="main-right">
            <img src="assets/images/image-mockups.png" alt="4 steps">
        </div>

    </main>

    <footer id="footer">
        
    </footer>

</div>
