* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#container {
    height: 100vh;
    width: 100%;
}

/* Header section*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    padding: 0 32px;
    background-color: white;
    display: flex;
    align-items: center;
    margin: 0;
    z-index: 1002;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.nav-mid {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nav-mid .nav-link {
    position: relative;
    height: 40px;
    margin: 0 20px;
}

.nav-link a {
    text-decoration: none;
    color: hsl(233, 8%, 62%);
}

.nav-link a::after {
    position: absolute;

}

.nav-link a:hover {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.nav-left .btn {
    width: 160px;
    height: 40px;
    border: none;
    background-image: linear-gradient(200deg, hsl(136, 64%, 51%), hsl(192, 69%, 51%));
    color: white;
    border-radius: 30px;
    cursor: pointer;
}


/* Main section */
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-top {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.main-topleft {
    width: 40%;
    margin: 0 110px;
}

.main-topleft h1 {
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 28px;
}

.main-topleft p {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 28px;
}

.main-topleft .btn {
    width: 160px;
    height: 40px;
    border: none;
    background-image: linear-gradient(200deg, hsl(136, 64%, 51%), hsl(192, 69%, 51%));
    color: white;
    border-radius: 30px;
    cursor: pointer;
}

.main-topright {
    width: 60%;
    background-image: url(/assets/images/bg-intro-desktop.svg);
    background-size: 900px;
    background-repeat: no-repeat;
}