* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#container {
    min-height: 100vh;
    width: 100vw;
}

/* Header section*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    padding: 0 32px;
    background-color: white;
    display: flex;
    align-items: center;
    margin: 0;
    z-index: 1002;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.nav-mid {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nav-mid .nav-link {
    height: 40px;
    margin: 0 20px;
}

.nav-link button {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: hsl(233, 8%, 62%);
    padding-bottom: 4px;
    border: none;
}

.nav-link button::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: hsl(136, 64%, 51%);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 200ms ease;
}

.nav-link button:hover {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.nav-link button:hover::after,
.nav-link button.active::after {
    transform: scaleX(1);
}

.nav-right .btn {
    width: 160px;
    height: 40px;
    border: none;
    background-image: linear-gradient(200deg, hsl(136, 64%, 51%), hsl(192, 69%, 51%));
    color: white;
    border-radius: 30px;
    cursor: pointer;
    transition-duration: 0.4s; 
}

.nav-right .btn:hover {
    color: black;
}

.nav-right .mobile-menu {
    display: none;
    cursor: pointer;
    border: none;
}


/* Main section */
#blog {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-top {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.blog-top .top-img {
    width: 160px;
    height: 80px;
    background-image: url(/assets/images/logo-dark.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.blog-top h1 {
    font-size: 26px;
    padding: 20px 0;
}

.blog-top h2 {
    font-size: 22px;
    font-weight: 100;
    padding-bottom: 40px;
}

.blog-top .bottom-img {
    width: 300px;
    height: 220px;
    background-image: url(/assets/images/blog-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.blog-body {
    width: 100%;
    height: auto;
}

.blog-body .feature {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.feature h1 {
    padding-bottom: 50px;
}

.feature .feature-post {
    height: 400px;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
}

.feature-post .feature-img {
    width: 100%;
    height: 240px;
    background-image: url(/assets/images/image-currency.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.feature-post h1 {
    padding: 16px 0;
    font-size: 24px;
    font-weight: 100;
}

.feature-post button {
    width: 80px;
    height: 40px;
    border: none;
    background-image: linear-gradient(200deg, hsl(136, 64%, 51%), hsl(192, 69%, 51%));
    color: white;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 30px;
    transition-duration: 0.4s; 
}

.feature-post button:hover {
    color: black;
}

.blog-body .blogs {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blogs .blogs-title {
    padding-bottom: 30px;
}

.blogs .blog-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.blog-grid .blog-post {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px 40px 20px;
}

.blog-post .blog-img {
    width: 100%;
    height: 140px;
    background-image: url(/assets/images/image-currency.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.blog-post h1 {
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    padding: 20px;
}

.blog-post button {
    width: 80px;
    height: 40px;
    border: none;
    background-image: linear-gradient(200deg, hsl(136, 64%, 51%), hsl(192, 69%, 51%));
    color: white;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 30px;
    transition-duration: 0.4s; 
}

.blog-post button:hover {
    color: black;
}

.newsletter {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.newsletter h1 {
    padding-bottom: 20px;
}

.newsletter-submit {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.newsletter-submit input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0 20px;
}

.newsletter-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.newsletter-btn button {
    width: 20%;
    height: 40px;
    border: none;
    background-image: linear-gradient(200deg, hsl(136, 64%, 51%), hsl(192, 69%, 51%));
    color: white;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 30px;
    transition-duration: 0.4s; 
}

.newsletter-btn button:hover {
    color: black;
}

/* Footer */
#footer {
    width: 100%;
    height: 200px;
    background-color: hsl(233, 26%, 24%);
    display: flex;
    flex-direction: row;
}

.footer-left {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 60px;
}

.footer-left .left {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.left .top-img {
    padding-bottom: 40px;
}

.left .bottom-img {
    display: flex;
    gap: 20px;
}

.footer-left .mid {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.mid .btn {
    padding-bottom: 20px;
}

.mid .btn button {
    border: none;
    background-color: transparent;
    color: white;
}

.mid .btn button:hover {
    cursor: pointer;
    color: rgb(7, 139, 7);
}

.footer-left .right {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.right .btn {
    padding-bottom: 20px;
}

.right .btn button {
    border: none;
    background-color: transparent;
    color: white;
}

.right .btn button:hover {
    cursor: pointer;
    color: rgb(7, 139, 7);
}

.bottom-img .social-icon {
    cursor: pointer;
}

.footer-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-right .btn {
    padding-bottom: 30px;
    padding-left: 100px;
}

.footer-right .btn button {
    width: 160px;
    height: 40px;
    border: none;
    background-image: linear-gradient(200deg, hsl(136, 64%, 51%), hsl(192, 69%, 51%));
    color: white;
    border-radius: 30px;
    cursor: pointer;
    transition-duration: 0.4s; 
}

.footer-right .btn button:hover {
    color: black;
}

.footer-right .trademark {
    color: white;
}

.trademark .copyright {
    font-size: 16px;
    font-weight: 100;
}


/* Responsive CSS */
@media only screen and (max-width: 768px) {
    .nav-mid {
        display: none;
    }

    .nav-right .btn {
        display: none;
    }

    .nav-right .mobile-menu {
        display: block;
    }

    .blogs .blog-grid {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .blog-grid .blog-post {
        width: 80%;
    }

    #footer {
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
    }

    .footer-left .left {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .left .top-img {
        padding-bottom: 40px;
    }

    .left .bottom-img {
        display: flex;
        gap: 20px;
        padding-bottom: 20px;
    }

    .footer-left .mid {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .mid .btn {
        padding-bottom: 20px;
    }

    .footer-left .right {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .right .btn {
        padding-bottom: 20px;
    }

    .footer-right {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .footer-right .btn {
        padding-left: 0;
        padding-bottom: 30px;
    }
}