<div id="container">

    <header id="header">
        <div class="nav-container">

            <div class="nav-left">
                <div class="img">
                    <img src="assets/images/logo-dark.svg" alt="logo">
                </div>
            </div>

            <div class="nav-mid">
                <div class="nav-link">
                    <button 
                    routerLink="/"
                    type="button"
                    class="link-btn"
                    >
                    Home
                    </button>
                </div>
                <div class="nav-link">
                    <button
                    routerLink="/about"
                    type="button"
                    class="link-btn"
                    >
                    About
                </button>
                </div>
                <div class="nav-link">
                    <button
                    routerLink="/contact"
                    type="button"
                    class="link-btn"
                    >
                    Contact
                    </button>
                </div>
                <div class="nav-link">
                    <button
                    routerLink="/blog"
                    type="button"
                    class="link-btn"
                    >
                    Blog
                </button>
                </div>
                <div class="nav-link">
                    <button
                    routerLink="/careers"
                    type="button"
                    class="link-btn"
                    >
                    Careers
                    </button>
                </div>
            </div>

            <div class="nav-right">
                <button class="btn">
                    Request invite
                </button>
                <button class="mobile-menu">
                    <img src="/assets/images/icon-hamburger.svg" alt="mobile-menu">
                </button>
            </div>
        </div>
    </header>

    <main id="blog">
        
        <div class="blog-top">
            <div class="top-img"></div>
            <h1>Insights & News from DigitalBank</h1>
            <h2>Tips, updates, and financial knowledge</h2>
            <div class="bottom-img"></div>
        </div>

        <div class="blog-body">

            <div class="feature">

                <h1>Feature post</h1>

                <div class="feature-post">
                    <div class="feature-img"></div>
                    <h1>How to Manage Your Money in 2026</h1>
                    <p>Learn smart strategies to grow your savings...</p>
                    <button>Read More</button>
                </div>

            </div>

            <div class="blogs">

                <h1 class="blogs-title">Other Posts</h1>

                <div class="blog-grid">

                    <div class="blog-post">
                        <div class="blog-img"></div>
                        <h1>Top 5 Budgeting Tips</h1>
                        <p>Tips for you Bank budgeting...</p>
                        <button>Read More</button>
                    </div>
    
                    <div class="blog-post">
                        <div class="blog-img"></div>
                        <h1>Understanding Credit Score</h1>
                        <p>Get to undetstand what is Credit Score...</p>
                        <button>Read More</button>
                    </div>
    
                    <div class="blog-post">
                        <div class="blog-img"></div>
                        <h1>How We Keep Your Money Safe</h1>
                        <p>How does our Bank System keep you...</p>
                        <button>Read More</button>
                    </div>
    
                    <div class="blog-post">
                        <div class="blog-img"></div>
                        <h1>How to Choose the Right Financial Goals for your saving</h1>
                        <p>Choose the right Financial Goals wil...</p>
                        <button>Read More</button>
                    </div>

                    <div class="blog-post">
                        <div class="blog-img"></div>
                        <h1>Why Understanding Your Bank Fees Is Crucial for Financial Health</h1>
                        <p>Bank fees is a crucial part on you...</p>
                        <button>Read More</button>
                    </div>

                    <div class="blog-post">
                        <div class="blog-img"></div>
                        <h1>Unlocking the Full Potential of Your Bank</h1>
                        <p>How to maximun the potential of you...</p>
                        <button>Read More</button>
                    </div>

                </div>

            </div>

            <div class="newsletter">
                <h1>Stay updated with the latest insights</h1>
                <div class="newsletter-submit">
                    <input type="email" placeholder="Enter your Email...">
                    <div class="newsletter-btn">
                        <button>Submit</button>
                    </div>
                </div>
            </div>

        </div>

    </main>

    <footer id="footer">

        <div class="footer-left">

            <div class="left">
                <div class="top-img">
                    <img src="/assets/images/logo-light.svg" alt="logo">
                </div>
                <div class="bottom-img">
                    <div class="social-icon">
                        <img src="/assets/images/icon-facebook.svg" alt="facebook">
                    </div>
                    <div class="social-icon">
                        <img src="/assets/images/icon-youtube.svg" alt="youtube">
                    </div>
                    <div class="social-icon">
                        <img src="/assets/images/icon-twitter.svg" alt="twitter">
                    </div>
                    <div class="social-icon">
                        <img src="/assets/images/icon-pinterest.svg" alt="pinterest">
                    </div>
                    <div class="social-icon">
                        <img src="/assets/images/icon-instagram.svg" alt="instagram">
                    </div>
                </div>
            </div>

            <div class="mid">
                <div class="btn">
                    <button>Abous Us</button>
                </div>
                <div class="btn">
                    <button>Contact</button>
                </div>
                <div class="btn">
                    <button>Blog</button>
                </div>
            </div>

            <div class="right">
                <div class="btn">
                    <button>Careers</button>
                </div>
                <div class="btn">
                    <button>Support</button>
                </div>
                <div class="btn">
                    <button>Privacy and Policy</button>
                </div>
            </div>

        </div>

        <div class="footer-right">
            
            <div class="btn">
                <button>
                    Request invite
                </button>
            </div>

            <div class="trademark">
                <h4 class="copyright">
                    ⓒ Digitalbank. All Rights Reserved
                </h4>
            </div>
        </div>

    </footer>

</div>
